{% extends 'main.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<div class="content">
    <h2>Artificial Intelligence & Data Science</h2>
    <p class="par">Hello, 
        This is a website specifically for Artificial Intelligence and Data Science,</br> how the AI works
        and what is Data Science. </br>This site is dedicated to teach and spread the uses of AI and Data Science.
        <br>more information on the above is provided on our about page.
    </p>
</div>

{% endblock content %}